.vscode/
.DS_Store

mods/*
!mods/example/

build/
output/

*.tiled-session

docs.json
/sharedlibs/*
!/sharedlibs/map_essentials/
!/sharedlibs/uibox_customizer/
Kristal.lnk
open.bat
mod_template/.luarc.json
mods/example/.luarc.json
